


* {
   margin: 0;
   padding: 0;
   font-family: "Italiana", sans-serif;

}

body {
   background-color: #eddba2;
}

#header {
   background-color: #fff9e7;
   height: 100px;
}

.nav-bar {
   display: flex;
   justify-content: space-around;

}

ol {
   display: flex;
   list-style: none;
   gap: 1rem;
}

.logo {
   height: 55px;
   padding-top: 37px;
   align-content: center;

}

a {
   text-decoration: none;
   padding-top: 20px;
   font-size: 1.3rem;
   color: black;

}

.shop-items {
   padding-top: 28px;
   align-content: center;
}

.icon {
   height: 22px;

}

.nav-items {
   padding-top: 43px;

}

#hero {
   display: flex;
   justify-content: space-between;
   height: 500px;
   background-color: #fff9e7;
   color: rgb(146, 128, 27);
}

.image img {
   height: 440px;
   width: 340px;
   padding-right: 185px;
   padding-top: 60px;
}

.paragraph {
   align-content: center;
   padding-left: 100px;
   font-size: 20px;
}

.paragraph p {
   font-size: 20px;

}

.btn-shop {
   height: 20px;
   width: 100px;
   color: rgb(166, 151, 64);
   font-size: 20px;
   margin-top: 10px;
   background-color: #fff9e7;
   border-style: none;
   text-decoration: underline;
   text-underline-offset: 4px;
}

#popular-collection {
   height: 600px;
   background-color: #fff9e7;
   margin-top: 4px;

}

.heading-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 30px;
   text-decoration: underline;
   text-underline-offset: 6px;

}

.heading-container h1 {
   color: rgb(122, 104, 1);
   font-family: "Italiana", sans-serif;
   font-weight: 400;
   font-style: normal;
}

.grid-popular {
   display: flex;
   gap: 1rem;
   justify-content: space-evenly;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 40px;
   align-items: center;

}

.imgflex {
   display: flex;

}

.box img {
   height: 250px;
}

.popular-bg {
   height: 100px;


}